body{
    background-color: #EEEEEE;    
}
.header{
    height:150px;
    width: auto;
    background-image: url("../img/logohead.jpg");
    background-size: 100% 100%;
}
.navbar{
    background-color: #FFFFFF;
    font-size: 12px;
}
.modal-title{
    text-align: center;
}
.modal-body{
    background-color: #EEEEEE;    
}
.mainbox{
    border:1px solid black;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom:40px;
    min-height: 430px;
}
hr{
       padding: 0px;
    margin: 0px 10px 10px 0px;
}
#change_Password{
    min-height:260px !important;
}